.center{
  width: 500px;
  margin: 250px auto;
  border: 1px solid rgba(128, 128, 128, 0.438);
  text-align: center;
  display: block;
  padding: 20px;
  border-radius: 12px;
}

.login-link{
  text-decoration: none;
}